body{
	background-image: url(assets/img/pexels-josh-sorenson-1714207\ \(1\).jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

}

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	width: 100%;
	height: 80px;
	background-color: #00000077;
}
nav{
	width: 400px;
	height: 50px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
}
nav ul{
	list-style: none;
}
nav li{
	margin-bottom: 5px;
	float: left;
}
nav ul a{
	display: block;
	margin: 0 10px;
	border-radius: 20px;
	width: auto;
	padding: 5px 20px;
	background-color: rgb(0, 110, 255);
	line-height: 25px;
	text-align: center;
	color:white;
	text-decoration:none;
}
nav ul a:hover{
	color:rgb(66, 164, 255);
	background-color: transparent;
	border: solid 2px rgb(66, 164, 255);
}



.titre{
	width: auto;
	color: white;
	line-height: 80px;
	padding: 10px 30px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	background-color: rgba(255, 145, 1, 0.637);
	border: none;
}

.btn{
	display: block;
	width: 140px;
	margin: 10px auto;
	color: white;
	background-color: rgb(95, 81, 54);
	line-height: 25px;
	text-align: center;
	text-decoration:none;
	border-radius: 20px;
}



#flogin{
  width: 320px;
  height:auto;
  margin-top: 50px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
  clear: both; 
  
}
#flogin input{
	background-color: #fff;
	border-radius: 7px;
	outline: none;
	margin-bottom: 19px;
	margin-top: 6px;
}
#flogin .buttons .ch{
	background-color: rgb(0, 140, 255);
	color: white;
	cursor: pointer;
}
#inscription{
  width: 320px;
  height:auto;
  margin-top: 50px;
  padding: 30px;
  /* background-color: rgba(0, 110, 255, 0.411); */
  margin-right: auto;
  margin-left: auto;
  border: none;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
}
#inscription input{
  background-color: #fff;
  border-radius: 7px;
  outline: none;
  margin-bottom: 19px;
  margin-top: 6px;
}
#inscription .buttons .ch{
	background-color: rgb(0, 140, 255);
	color: white;
	cursor: pointer;
}
#inscription .photo .ch{
	height: 36px;
	padding-top: 6px;
	background-color: rgb(233, 233, 233);
	color: gray;
}
.ch{
  width: 320px;
  height: 30px;
  border:none;
  text-indent: 5px;
  font-family: Trebuchet Ms;
  font-size: 16px;
  margin-top: 10px;
  /* background-color: skyblue; */
}
.btn2{
  width: 150px;
  height: 30px;
  font-family: Trebuchet Ms;
  font-size: 16px;
float: right;
border:none;
border-radius: 6px;
color: white;
margin-top: 20px;
background-color: rgb(0, 110, 255);
margin: 5px;
cursor: pointer;
}


#sect1{
  width: 60%;
  height:auto;
  margin-top: 20px;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;  

}
#sect1 form .ckeditor{
	width: 100%;
} 

#div1 img{
margin-right: 10px;
width: 40px;
height: 40px;
border-radius:50px;
float: left;

}
#div1 {
	color: rgb(255, 255, 255);
}
#div2{
	width: 100%;
	height: auto;
	padding: 15px;
	background-color: rgba(135, 207, 235, 0.767);
	margin: 10px;
	/* color: white */
}
#zmessage{
	width: 100%;
	height: 90px;
	padding: 15px;
	margin: 10px;
	font-size:16px;
	background-color: rgba(255, 255, 255, 0.521);
}
